* {
  box-sizing: content-box;
}

.ansormed-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 185px;
  transition: 1s ease color,
  opacity 1s ease;
}

.ansormed-logo p {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 34px;
}

.ansormed-logo:hover {
  color: #DE2E54;
}

.ansormed-logo:active {
  color: #DE2E54;
  opacity: 0.5;
}
.header-container {
  width: 1100px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.header-container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-button {
  width: 200px;
  height: 48px;
  padding: 12px 24px;
  background-color:  #DE2E54;
  border: 2px  #DE2E54 solid;
  border-radius: 8px;
}

.main-button  {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  letter-spacing: 150%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: color 1s ease,
  background-color 1s ease,
  opacity 1s ease;
}

.main-button:hover {
  background-color: #fff;
  color: #DE2E54;
}

.main-button:active {
  opacity: 0.5;
  background-color: #DE2E54;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav {
  background-color: aliceblue;
  list-style-type: none;
  text-decoration: none;
}

.site-nav-bar {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav-item {
  list-style-type: none;
  margin-right: 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.site-nav-item a {
  text-decoration: none;
  color: #222;
  transition: color ease 0.5s,
  opacity ease 1s;
}

.site-nav-item a:hover {
  color: #DE2E54;
}

.site-nav-item a:active {
  color: #DE2E54;
  opacity: 0.5;
}
.site-nav-item:last-child {
  margin-right: 0px;
}
.hero {
  padding-left: 170px;
  padding-right: 170px;
  display: flex;
  justify-content: space-between;
  background-color: #0EB4C1;
}

.hero-container {
  width: 1100px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  order: 3;
}

.hero-content {
  width: 550px;
  height: 293px;
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.hero-button {
  width: 200px;
  height: 47px;
  padding: 30px 30px;
  background-color: #DE2E54;
  border: 2px #DE2E54 solid;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  letter-spacing: 150%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: color 1s ease,
  background-color 1s ease;
}

.hero-button:hover {
  background-color: #fff;
  color: #DE2E54;
}

.hero-button:active {
  opacity: 0.5;
  background-color: #DE2E54;
  color: #fff;
}

.hero-heading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
}

.hero-heading p {
  margin: 0px;
  padding: 0px;
}

.hero-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  letter-spacing: 1px;
}

.hero-img {
  width: 423px;
  height: 504px;
  margin-top: 29px;
}

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 219px;
  padding-bottom: 227px;
}

.services-container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services-heading {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
}

.services-group {
  width: 864px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.services-container ul {
  padding-left: 0px;
  margin: 0px;
}
.services-container-item {
  list-style-type: none;
  display: flex;
  margin-bottom: 80px;
}

.services-container-item:last-child {
  margin-bottom: 0px;
}

.services-container-item-heading {
  margin-bottom: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  line-height: 150%;
  color: #222;
}

.services-container-item-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
line-height: 150%;
color: #444;
}

.services-container-item-img {
  width: 200px;
  height: 200px;
  margin-right: 64px;
}

.services-button {
  margin-left: auto;
  margin-right: auto;
}

footer {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

.footer-container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}
.footer-top {
  background-color: #0EB4C1;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0px;
}

.footer-top-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bottom {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  color: #fff;
}
.site-nav {
  background-color: aliceblue;
}

.footer-top-heading {
  /* width: 400px; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
}

.footer-top-heading p {
  margin: 0px;
}
.footer-top-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top-button  {
  text-decoration: none;
  background-color: #0EB4C1;
  color: #fff;
  border: 2px #fff solid;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  padding: 12px 24px;
  width: 200px;
  height: 42px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 5px;
  transition: color 1s ease,
  background-color 1s ease,
  opacity 1s ease;
}

.footer-top-button:hover {
  background-color: #DE2E54;
  color: #fff;
}

.footer-top-button:active {
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.5;
}

.footer-top-button  {
  text-decoration: none;
}

.footer-bottom-container {
  width: 1100px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-navbar {
  display: flex;
  align-items: center;
}

.bottom-nav-item {
  display: inline-block;
  list-style-type: none;
  margin-right: 32px;
  text-decoration: none;
  margin-right: 32px;
}

.bottom-nav-item:last-child {
  margin-right: 0px;
}

.bottom-nav-item a {
  text-decoration: none;
  color: #fff;
}
